.dashboard-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: rgb(104, 44, 148);
  /* color: #8067b8; */
}

.dashboard-header {
  color: rgb(104, 44, 148);
  background-color: white;
  height: fit-content;
  font-size: x-large;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
}

.dashboard-header-logo {
  height: 1.5em;
  margin-left: 1em;
  padding-right: 0.25em;
}

.dashboard-header-title {
  height: 1.5em;
  margin-right: auto;
}

.dashboard-header-profile {
  display: inline-block;
  margin-right: 1em;
  cursor: pointer;
}

.dashboard-body {
}
